nodered/mainflow.json
[{"id":"5536003f58a281e0","type":"tab","label":"Monitoramento ambiental","disabled":false,"info":"Versão inicial do dashboard de monitoramento de humidade e temperatura.","env":[]},{"id":"19bb1518987bae40","type":"mqtt in","z":"5536003f58a281e0","name":"Temperature - Router01","topic":"xbee/data/0013A20041AEB1E6/temperature","qos":"2","datatype":"auto-detect","broker":"05a0a34ef978a8fe","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":180,"wires":[["41600ab81404c9da","595f8bcafa05a508"]]},{"id":"89094a65ee08be88","type":"mqtt in","z":"5536003f58a281e0","name":"Humidity - Router02","topic":"xbee/data/0013A20041AEB1E6/humidity","qos":"2","datatype":"auto-detect","broker":"05a0a34ef978a8fe","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":300,"wires":[["934fbc510834c928"]]},{"id":"41600ab81404c9da","type":"ui_chart","z":"5536003f58a281e0","name":"","group":"de551101d57c1398","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1d72af","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":490,"y":180,"wires":[[]]},{"id":"934fbc510834c928","type":"ui_gauge","z":"5536003f58a281e0","name":"","group":"de551101d57c1398","order":4,"width":0,"height":0,"gtype":"donut","title":"Humidade","label":"%","format":"{{value | number: 1}}","min":"0","max":"100","colors":["#d2dbd2","#686b92","#1422db"],"seg1":"","seg2":"","diff":false,"className":"","x":490,"y":300,"wires":[]},{"id":"595f8bcafa05a508","type":"ui_text","z":"5536003f58a281e0","group":"de551101d57c1398","order":3,"width":0,"height":0,"name":"","label":"Temperatura","format":"{{msg.payload | number: 1}} ºC","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":240,"wires":[]},{"id":"2a231aeb4cde3393","type":"mqtt in","z":"5536003f58a281e0","name":"Temperature - Router02","topic":"xbee/data/0013A20041D8CF65/temperature","qos":"2","datatype":"auto-detect","broker":"05a0a34ef978a8fe","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":400,"wires":[["5e321d1ceeaacab9","6a9222c80f2dffd2"]]},{"id":"f302a8d0caccb418","type":"mqtt in","z":"5536003f58a281e0","name":"Humidity - Router02","topic":"xbee/data/0013A20041D8CF65/humidity","qos":"2","datatype":"auto-detect","broker":"05a0a34ef978a8fe","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":540,"wires":[["5246ad18ef916d53"]]},{"id":"5e321d1ceeaacab9","type":"ui_chart","z":"5536003f58a281e0","name":"","group":"543d89d117eb5ec8","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1d72af","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":490,"y":400,"wires":[[]]},{"id":"5246ad18ef916d53","type":"ui_gauge","z":"5536003f58a281e0","name":"","group":"543d89d117eb5ec8","order":4,"width":0,"height":0,"gtype":"donut","title":"Humidade","label":"%","format":"{{value | number: 1}}","min":"0","max":"100","colors":["#d2dbd2","#686b92","#1422db"],"seg1":"","seg2":"","diff":false,"className":"","x":490,"y":540,"wires":[]},{"id":"6a9222c80f2dffd2","type":"ui_text","z":"5536003f58a281e0","group":"543d89d117eb5ec8","order":3,"width":0,"height":0,"name":"","label":"Temperatura","format":"{{msg.payload | number: 1}} ºC","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":460,"wires":[]},{"id":"0cc48e7a52d0f88f","type":"ui_spacer","z":"5536003f58a281e0","name":"spacer","group":"de551101d57c1398","order":2,"width":6,"height":1},{"id":"d94f73575df21d16","type":"ui_spacer","z":"5536003f58a281e0","name":"spacer","group":"543d89d117eb5ec8","order":2,"width":6,"height":1},{"id":"05a0a34ef978a8fe","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"de551101d57c1398","type":"ui_group","name":"Ambiente interno","tab":"8c104d33b3f47247","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"543d89d117eb5ec8","type":"ui_group","name":"Ambiente externo","tab":"8c104d33b3f47247","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"8c104d33b3f47247","type":"ui_tab","name":"Gateway Zigbee","icon":"dashboard","order":3,"disabled":false,"hidden":false}]